@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

:root {

    --primary-font: 'Inter', sans-serif;
    --secondary-font: 'Playfair Display', serif;
    --primary-text-color: #F9F9F7;
    --secondary-text-color: #939392;
    --neutral-text-color: #12110f;

    --primary-color: #1c1c1c;
    --secondary-color: #12110f;
    --neutral-color: #767474;
    --light-color: #F9F9F7;
    --accent-color: #939392;
    --shadow-color: #0e0e0e;
}

@theme {
    --font-primary: var(--primary-font);
    --font-secondary: var(--secondary-font);

    --color-primary-text: var(--primary-text-color);
    --color-secondary-text: var(--secondary-text-color);
    --color-neutral-text: var(--neutral-text-color);

    --color-primary: var(--primary-color);
    --color-secondary: var(--secondary-color);
    --color-neutral: var(--neutral-color);
    --color-light: var(--light-color);
    --color-accent: var(--accent-color);
    ---color-shadow: var(--shadow-color);
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}